/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-weight: var(--main-font-weight);
  background: var(--gradient);
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: 98px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  align-self: center;
  background-color: #fff;
  border: 2px solid var(--main-color);
  gap: 20px;
  padding: 130px 122.5px;
  margin-top: 100px;
}

.title {
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.title__description {
  color: var(--main-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  justify-self: center;
  display: flex;
  flex-direction: column;
  margin-top: 98px;
}

.card-list {
  justify-self: center;
  align-self: center;
  background-color: #fff;
}

.card { 
  background-color: #fff;
  width: clamp(375px, 100%, 700px);
  border: 2px solid var(--main-color);
  margin-bottom: 50px;
}

.card-title {
  font-size: 18px;
  margin: 4px 0 4px 10px;
}

.card-content {
  font-size: 18px;
  margin: 25px;
}

.card-image {
  border-top: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.card-description {
  margin-top: 25px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: end;
  margin-bottom: 25px;
  margin-right: 25px;
}

.card__like-button {
  width: 130px;
  min-height: 38px;
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  border: 2px solid var(--main-color);
  font-size: 14px;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.card-label {
  display: flex;
  justify-content: end;
  justify-self: end;
  z-index: 1;
  position: absolute;
  margin: 27px 25px 0 0;
}

.label {
  font-family: var(--accent-font);
  font-size: 14px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

.button__icon {
  position: relative;
  overflow: hidden;
  inline-size: 21px;
  block-size: 21px;
  justify-self: center;
  align-self: center;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: 14px;
  justify-self: center;
  align-self: center;
}

.button__save {
  display: flex;
  flex-direction: row;
  border: 2px solid var(--main-color);
  width: 335px;
  min-height: 55px;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  gap: 8px;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

.modal {
  border: 2px solid var(--main-color);
  padding: 30px;
  color: var(--main-color);
  font-family: var(--accent-font);
  line-height: 1.5;
  text-transform: uppercase;
  background: #fff;
  max-inline-size: 353px;
  text-transform: uppercase;
  font-size: 14px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--main-color);
}

.modal__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.modal__icon {
  inline-size: 39px;
  block-size: 39px;
  flex-shrink: 0;
}

.modal__button {
  position: relative;
  overflow: hidden;
  inline-size: 100%;
  border: 2px solid var(--main-color);
  min-block-size: 38px;
  transition: box-shadow 0.3s ease;
  text-transform: uppercase;
  font-size: 14px;
}

.filter_saturate {
  filter: contrast(30%);
}

.filter_contrast {
  filter: brightness(300%);
}

.filter_hue {
  filter: hue-rotate(60deg);
}

.filter_invert {
  filter: invert(130%);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_blur {
  filter: blur(10px);
}

.filter_multiple {
  filter:invert(60%) blur(2px);
}

button:focus:not(.card__icon-button) {
  box-shadow: 2px 2px 0 var(--main-color);
}

button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform-origin: left center; 
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

button:hover:after {
  transform: scaleX(1);
}

.card__like-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.card__icon-button::after {
  content: '';
  position: absolute;
  transform: none;
}




@media (width <= 375px) {

  .header {
    padding: 122px 16px;
  }

  .image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1 / 1;
  }

  .modal__content {
    flex-direction: column;
  }

  .modal__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal[open] {
    padding: 30px 40px;
  }

  dialog {
    justify-content: center;
    justify-self: center;
  }

  .button__save {
    flex-direction: column;
    width: 306px;
    height: 84px;
    margin-left: 34.5px;
    margin-right: 34.5px;
    flex-shrink: 0;
  }  
}
